@(user: models.users.User)
@main("Home",user){
     
      
      <!-- Jumbotron -->

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">CodeDogs</h1>
    <p class="lead">Project Management</p>
  </div>
</div>
 
        <!-- About Us -->                                              
    <div class= container-fluid padding> 
        <div id ="aboutus">
        <div class="row text-center">
            <div class="col-12">
                <h1 class ="display-4">About Us</h1>
           <hr>
                <div class"col-12">
                <p class="about">Welcome to the Code Dogs Project management site built for our employees.
                <br> From this website our managers can view what projects employees are currently working on and what department they are in. They can also make any changes necessary. <br>It is also for employees to check their current projects. Please login into your account to view this information.
                    </p>
                    </div>
                </div>
            
     
        </div>
      
      </div>
      </div>
      
    }